<!DOCTYPE HTML>
<html>
  <head>
    <title> reelyActive JSON Silo </title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.1/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="js/admin.js"></script>
  </head>
  <body ng-app="jsonSilo">
    <div ng-controller="InteractionCtrl">
      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle"
                  ng-init="navCollapsed = true"
                  ng-click="navCollapsed = !navCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://context.reelyactive.com">
            <strong>reely</strong>Active
          </a>
        </div>
        <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'"
             ng-click="navCollapsed = true">
          <ul class="nav navbar-nav navbar-right">
            <li class="active" ng-show="authentication.useAuthentication">
              <a href="login.html" ng-show="!authentication.authenticated">
                Log in
              </a>
              <a href="logout" ng-show="authentication.authenticated">
                Log out
              </a>
            </li>
            <li class="dropdown" dropdown on-toggle="toggled(open)">
              <a href class="dropdown-toggle" dropdown-toggle role="button"
                 data-toggle="dropdown" aria-haspopup="true"
                 aria-expanded="false">
                More <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="index.html">Main interface</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
      <div class="row">
        <div class="col-sm-1 col-md-2"> &nbsp; </div>
        <div class="col-sm-10 col-md-8" ng-controller="StoriesCtrl">
          <table class="table table-striped">
            <tr>
              <th> Image </th>
              <th> ID </th>
              <th> First name </th>
              <th> Last name </th>
              <th> Company </th>
              <th> Expiration </th>
              <th> Action </th>
            </tr>
            <tr ng-repeat="story in stories">
              <td> <img ng-src="{{story.json.person.portraitImageUrl}}"
                        class="img-circle" width="100"> </td>
              <td> {{story._id}} </td>
              <td> {{story.json.person.firstName}} </td>
              <td> {{story.json.person.lastName}} </td>
              <td> {{story.json.person.companyName}} </td>
              <td> {{story.expireAfter}} </td>
              <td> <button class="btn btn-danger"
                           ng-click="delete(story._id)"> Delete </button> </td>
            </tr>
          </table>
        </div>
        <div class="col-sm-1 col-md-2"> &nbsp; </div>
      </div>
      <footer class="footer">
        <a href="https://github.com/reelyactive/json-silo"> json-silo </a>
        &nbsp; | &nbsp;
        <a href="http://context.reelyactive.com"
           tooltip="We believe in an open Internet of Things"
           tooltip-placement="right">
          &copy; reelyActive 2014-2015
        </a>
      </footer>
    </div>
  </body>
</html>
