<!DOCTYPE HTML>
<html>
  <head>
    <title> reelyActive JSON Silo </title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.1/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="js/silo.js"></script>
  </head>
  <body ng-app="jsonSilo">
    <div ng-controller="InteractionCtrl">
      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle"
                  ng-init="navCollapsed = true"
                  ng-click="navCollapsed = !navCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://context.reelyactive.com">
            <strong>reely</strong>Active
          </a>
        </div>
        <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'"
             ng-click="navCollapsed = true">
          <ul class="nav navbar-nav navbar-right">
            <li class="active" ng-show="authentication.useAuthentication">
              <a href="login.html" ng-show="!authentication.authenticated">
                Log in
              </a>
              <a href="logout" ng-show="authentication.authenticated">
                Log out
              </a>
            </li>
            <li class="dropdown" dropdown on-toggle="toggled(open)">
              <a href class="dropdown-toggle" dropdown-toggle role="button"
                 data-toggle="dropdown" aria-haspopup="true"
                 aria-expanded="false">
                More <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="admin.html">Admin interface</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
      <!-- START EDITING FROM HERE -->

      <!-- Landing -->
      <div class="row" ng-show="showLanding">
        <div class="col-xs-0 col-sm-1 col-md-2 col-lg-3"></div>
        <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2">
          <img src="images/json-silo.png" class="img-responsive center-block">
        </div>
        <div class="col-xs-9 col-sm-7 col-md-6 col-lg-4">
          <div class="well well-lg" ng-show="showStations">
            <h1> Onboard my device at: </h1>
            <form class="form-inline">
              <div class="form-group">
                <select ng-model="station" id="station" class="form-control"
                        ng-options="station.id as station.title for station in
                                    stations">
                </select>
              </div>
              <div class="form-group text-center">
                <button ng-click="proceed('onboarding'); startScanning();"
                        class="btn btn-success"> Go! </button>
              </div>
            </form>
          </div>
          <div class="well well-lg" ng-show="showPlaces">
            <h1> Check me in at: </h1>
            <form class="form-inline">
              <div class="form-group">
                <select ng-model="place" id="place" class="form-control"
                        ng-options="place.value as place.title for place in
                                    places">
                </select>
              </div>
              <div class="form-group text-center">
                <button ng-click="proceed('story'); type = 'check-in'"
                        class="btn btn-success"> Go! </button>
              </div>
            </form>
          </div>
          <div class="well well-lg">
            <h1> Let me create a story: </h1>
            <form class="form-inline">
              <div class="form-group">
                I know what I'm doing here. &nbsp;
              </div>
              <div class="form-group text-center">
                <button class="btn btn-success"
                        ng-click="proceed('story'); type = 'story'">
                  Go!
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-xs-0 col-sm-1 col-md-2 col-lg-3"></div>
      </div>

      <!-- Onboarding -->
      <div class="container-fluid">
        <div class="row" ng-show="showOnboarding">
          <div class="row" ng-hide="onboardingCandidate">
            <div class="col-xs-0 col-sm-2"></div>
            <div class="well col-xs-12 col-sm-8">
              <h1 class="text-center">
                Place your device near the reelceiver
              </h1>
            </div>
            <div class="col-xs-0 col-sm-2"></div>
            <div class="col-xs-12" ng-hide="onboardingCandidate">
              <img src="http://reelyactive.github.io/images/mobileToReel.png"
                   class="img-responsive center-block">
            </div>
          </div>
          <div class="row" ng-show="onboardingCandidate">
            <div class="col-xs-0 col-sm-1 col-md-2"></div>
            <div class="col-xs-12 col-sm-4 col-md-4">
              <h1> Device detected </h1>
              <p> See that geeky code?  That's what the device nearest to this onboarding station is emitting.  Fascinating, isn't it?  Feel confident that it is in fact <i>your</i> device? </p>
              <p class="text-center">
                <button class="btn btn-success" ng-click="proceed('story');
                                                          stopScanning();
                                                          type = 'onboarding'">
                  Yes, this is my device
                </button>
              </p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-5">
              <pre> {{onboardingCandidate}} </pre>
            </div>
            <div class="col-xs-0 col-sm-1 col-md-1"></div>
          </div>
        </div>
      </div>

      <!-- Story entry -->
      <div class="row" ng-show="showStory">
        <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2">
          <img src="images/json-silo.png" class="img-responsive center-block">
        </div>
        <div class="col-xs-12 col-sm-9 col-md-5 col-lg-5">
          <h1> Enter the story: </h1>
          <form class="form-horizontal">
            <div class="form-group">
              <label for="firstName" class="col-sm-4 control-label">
                First name:
              </label>
              <div class="col-sm-8">
                <input type="text" placeholder="Barn" class="form-control"
                       ng-model="person.firstName" id="firstName" ng-change='change()'>
              </div>
            </div>
            <div class="form-group">
              <label for="lastName" class="col-sm-4 control-label">
                Last name:
              </label>
              <div class="col-sm-8">
                <input type="text" placeholder="Owl" class="form-control"
                       ng-model="person.lastName" id="lastName" ng-change='change()'>
              </div>
            </div>
            <div class="form-group">
              <label for="imageUrl" class="col-sm-4 control-label">
                Portrait image URL:
              </label>
              <div class="col-sm-8">
                <input type="text" class="form-control"
                       placeholder="http://reelyactive.com/images/barnowl.jpg" 
                       ng-model="person.portraitImageUrl" id="imageUrl"
                       ng-change='change()'>
              </div>
            </div>
            <div class="form-group">
              <label for="companyName" class="col-sm-4 control-label">
                Company name:
              </label>
              <div class="col-sm-8">
                <input type="text" placeholder="reelyActive" class="form-control"
                       ng-model="person.companyName" id="companyName"
                       ng-change='change()'>
              </div>
            </div>
            <div class="form-group">
              <label for="companyUrl" class="col-sm-4 control-label">
                Company URL:
              </label>
              <div class="col-sm-8">
                <input type="text" placeholder="http://reelyActive.com"
                       class="form-control" ng-model="person.companyUrl"
                       id="companyUrl" ng-change='change()'>
              </div>
            </div>
            <div class="form-group">
              <label for="linkedInPublicUrl" class="col-sm-4 control-label">
                LinkedIn Public URL:
              </label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="linkedInPublicUrl"
                       placeholder="http://www.linkedin.com/company/reelyactive"
                       ng-model="person.linkedInPublicUrl" ng-change='change()'>
              </div>
            </div>
            <div class="form-group">
              <label for="twitterPersonalScreenName" class="col-sm-4 control-label">
                Twitter Handle (without @):
              </label>
              <div class="col-sm-8">
                <input type="text" placeholder="reelyActive" class="form-control"
                       ng-model="person.twitterPersonalScreenName"
                       id="twitterPersonalScreenName" ng-change='change()'>
              </div>
            </div>
            <hr>
            <div class="form-group">
              <label for="duration" class="col-sm-4 control-label">
                Self-destruct after:
              </label>
              <div class="col-sm-8">
                <select ng-model="duration" id="duration" class="form-control"
                        ng-options="duration.value as duration.title for duration in durations">
                </select>
              </div>
            </div>
          </form>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
          <h1> This is how it will be shared: </h1>
          <pre id="json">{{json | json}}</pre>
        </div>
      </div>
      <div class="row" ng-show="showStory">
        <p class="text-center">
          <button class="btn btn-success" ng-click="submit()">
            Store the JSON in the silo
          </button>
        </p>
      </div>

      <!-- STOP EDITING BEYOND HERE -->
      <footer class="footer">
        <a href="https://github.com/reelyactive/json-silo"> json-silo </a>
        &nbsp; | &nbsp;
        <a href="http://context.reelyactive.com"
           tooltip="We believe in an open Internet of Things"
           tooltip-placement="right">
          &copy; reelyActive 2014-2015
        </a>
      </footer>
    </div>

    <!----- Start Modal ----->
    <script type="text/ng-template" id="modal.html">
      <div class="modal-header">
        <h3 class="modal-title" ng-show="success">
          Stored!
        </h3>
        <h3 class="modal-title" ng-show="!success">
          Failed!
        </h3>
      </div>
      <div class="modal-body">
        <div ng-show="success">
          <p> The story is publicly accessible at
              <a ng-href="{{url}}" target="_blank"> {{url}} </a>
              until it self-destructs.
          </p>
          <p class="text-center" ng-show="visit.show">
            <a ng-href="{{visit.url}}" class="btn btn-success"
               target="_blank"> Visit the check-in location </a>
          </p>
          <p class="text-center" ng-show="associate.show">
            <a ng-href="{{associate.url}}" class="btn btn-success"
               target="_blank"> Associate a wireless device </a>
          </p>
        </div>
        <div ng-show="!success">
          <p> Here's what the API returned: </p>
          <pre> {{data}} </pre>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="dismiss()">
          Dismiss
        </button>
      </div>
    </script>
    <!----- End Modal ----->

  </body>
</html>
