<!DOCTYPE HTML>
<html>
  <head>
    <title> reelyActive JSON Silo </title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.1/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="js/silo.js"></script>
  </head>
  <body ng-app="jsonSilo">
    <div ng-controller="InteractionCtrl">
      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle"
                  ng-init="navCollapsed = true"
                  ng-click="navCollapsed = !navCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://context.reelyactive.com">
            <strong>reely</strong>Active
          </a>
        </div>
        <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'"
             ng-click="navCollapsed = true">
          <ul class="nav navbar-nav navbar-right">
            <li class="active" ng-show="authentication.useAuthentication">
              <a href="login.html" ng-show="!authentication.authenticated">
                Log in
              </a>
              <a href="logout" ng-show="authentication.authenticated">
                Log out
              </a>
            </li>
            <li class="dropdown" dropdown on-toggle="toggled(open)">
              <a href class="dropdown-toggle" dropdown-toggle role="button"
                 data-toggle="dropdown" aria-haspopup="true"
                 aria-expanded="false">
                More <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="admin.html">Admin interface</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>

      <!-- Landing -->
      <div class="row" ng-show="showLanding">
        <div class="col-xs-0 col-sm-1 col-md-2 col-lg-3"></div>
        <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2">
          <img src="images/json-silo.png" class="img-responsive center-block">
        </div>
        <!-- Select action -->
        <div class="col-xs-9 col-sm-7 col-md-6 col-lg-4"
             ng-show="!showDuration">
          <div class="well well-lg" ng-show="showStations">
            <h1> Onboard my device at: </h1>
            <form class="form-inline">
              <div class="form-group">
                <select ng-model="station" id="station" class="form-control"
                        ng-options="station.id as station.title for station in
                                    stations">
                </select>
              </div>
              <div class="form-group text-center">
                <button ng-click="proceed('duration'); startScanning();
                                  type = 'onboarding'"
                        class="btn btn-success"> Go! </button>
              </div>
            </form>
          </div>
          <div class="well well-lg" ng-show="showPlaces">
            <h1> Check me in at: </h1>
            <form class="form-inline">
              <div class="form-group">
                <select ng-model="place" id="place" class="form-control"
                        ng-options="place.value as place.title for place in
                                    places">
                </select>
              </div>
              <div class="form-group text-center">
                <button ng-click="proceed('duration'); type = 'check-in'"
                        class="btn btn-success"> Go! </button>
              </div>
            </form>
          </div>
          <div class="well well-lg">
            <h1> Let me create a story: </h1>
            <form class="form-inline">
              <div class="form-group">
                I know what I'm doing here. &nbsp;
              </div>
              <div class="form-group text-center">
                <button class="btn btn-success"
                        ng-click="proceed('duration'); type = 'story'">
                  Go!
                </button>
              </div>
            </form>
          </div>
        </div>
        <!-- Select duration -->
        <div class="col-xs-9 col-sm-7 col-md-6 col-lg-4"
             ng-show="showDuration">
          <div class="well well-lg">
            <h1> For how long? </h1>
            <p> After the selected duration your story will self-destruct. </p>
            <form class="form-inline">
              <div class="form-group">
                <select ng-model="duration" id="duration" class="form-control"
                        ng-options="duration.value as duration.title for
                                    duration in durations">
                </select>
              </div>
              <div class="form-group text-center">
                <button ng-click="proceed(type)"
                        class="btn btn-success"> Continue </button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-xs-0 col-sm-1 col-md-2 col-lg-3"></div>
      </div>

      <!-- Onboarding -->
      <div class="container-fluid">
        <div class="row" ng-show="showOnboarding">
          <div class="row" ng-hide="onboardingCandidate">
            <div class="col-xs-0 col-sm-2"></div>
            <div class="well col-xs-12 col-sm-8">
              <h1 class="text-center">
                Place your device near the reelceiver
              </h1>
              <progressbar class="progress-striped active" max="100"
                           value="rssiPercentage" type="warning">
                <b>{{rssiPercentage}}% proximity threshold reached</b>
              </progressbar>
            </div>
            <div class="col-xs-0 col-sm-2"></div>
            <div class="col-xs-12" ng-hide="onboardingCandidate">
              <img src="http://reelyactive.github.io/images/mobileToReel.png"
                   class="img-responsive center-block">
            </div>
          </div>
          <div class="row" ng-show="onboardingCandidate">
            <div class="col-xs-0 col-sm-1 col-md-2"></div>
            <div class="col-xs-12 col-sm-4 col-md-4">
              <h1> Device detected </h1>
              <p> See that geeky code?  That's what the device nearest to this onboarding station is emitting.  Fascinating, isn't it?  Feel confident that it is in fact <i>your</i> device? </p>
              <p class="text-center">
                <button class="btn btn-success" ng-click="proceed('story');
                                                          stopScanning()">
                  Yes, this is my device
                </button>
              </p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-5">
              <pre> {{onboardingCandidate}} </pre>
            </div>
            <div class="col-xs-0 col-sm-1 col-md-1"></div>
          </div>
        </div>
      </div>

      <!-- Story entry -->
      <tabset ng-show="showStory">
        <tab heading="Person">
          <div ng-controller="PersonCtrl" class="row">
            <div class="col-xs-12 col-md-6">
              <h1>Enter the fields below...</h1>
              <form role="form" class="form-horizontal">
                <div class="form-group">
                  <label class="col-sm-3 control-label"
                         for="personGivenName"> Given name: </label>
                  <div class="col-sm-9">
                    <input type="text" placeholder="Barn" class="form-control"
                           ng-model="person.givenName" ng-change='change()'
                           tooltip="Ex:Barn" tooltip-placement="right"
                           id="personGivenName"/>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label"
                         for="personFamilyName"> Family name: </label>
                  <div class="col-sm-9">
                    <input type="text" placeholder="Owl" class="form-control"
                           ng-model="person.familyName" ng-change='change()'
                           tooltip="Ex:Owl" tooltip-placement="right"
                           id="personFamilyName"/>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">Gender:</label>
                  <div class="col-sm-9 btn-group">
                    <label ng-model="person.gender" ng-change='change()'
                           btn-radio="'Male'" class="btn btn-default"
                           uncheckable> Male </label>
                    <label ng-model="person.gender" ng-change='change()'
                           btn-radio="'Female'" class="btn btn-default"
                           uncheckable> Female </label>
                  </div>
                </div> 
                <div class="form-group">
                  <label class="col-sm-3 control-label"
                         for="personNationality"> Nationality: </label>
                  <div class="col-sm-9">
                    <select ng-model="person.nationality" class="form-control"
                            ng-options="country.code as country.nationality for country in countries"
                            ng-change='change()' id="personNationality"/>
                      <option value=""> -- Select a Country -- </option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label"
                         for="personCompanyName"> Company name: </label>
                  <div class="col-sm-9">
                    <input type="text" placeholder="reelyActive"
                           class="form-control" ng-model="person.worksFor"
                           ng-change='change()' tooltip="Ex:reelyActive"
                           tooltip-placement="right" id="personCompanyName"/>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label"
                         for="personJobTitle"> Job title: </label>
                  <div class="col-sm-9">
                    <input type="text" placeholder="Mascot" class="form-control"
                           ng-model="person.jobTitle" ng-change='change()'
                           tooltip="Ex:Mascot" tooltip-placement="right"
                           id="personJobTitle"/>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label"
                         for="personUrl"> Personal URL: </label>
                  <div class="col-sm-9">
                    <input type="url" class="form-control"
                           placeholder="https://www.npmjs.com/package/barnowl"
                           ng-model="person.url" ng-change='change()'
                           id="personUrl"/>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label"
                         for="personSocialUrls"> Social media URLs: </label>
                  <div class="col-sm-9">
                    <div ng-repeat="(key, value) in person.sameAs track by $index">
                      <input type="url" class="form-control"
                             placeholder="http://twitter.com/reelyActive"
                             ng-model="person.sameAs[key]" ng-change='change()'
                             id="personSocialUrls"/>
                    </div>
                    <p class="text-center">
                      <button type="button" class="btn btn-default"
                              ng-click="addSocial()"> Add another URL </button>
                    </p>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label"
                         for="personImageUrl"> Image URL: </label>
                  <div class="col-sm-9">
                    <carousel>
                      <slide ng-repeat="person in slides" active="person.active">
                        <img ng-src="{{person.image}}">
                      </slide>
                    </carousel>
                    <input type="url" placeholder="Paste the image URL here,or..."
                           class="form-control" ng-model="person.image"
                           ng-change='change()' id="personImageUrl"/>
                    <p class="text-center">
                      <button type="button" class="btn btn-primary"
                              ng-click="getActiveSlide();change()">
                        Use image above
                      </button>
                    </p>
                  </div>
                </div>
              </form>
              <p> &nbsp; </p>
            </div>
            <div class="col-xs-12 col-md-6" >
              <h1>...and the person's JSON shall appear</h1>
              <pre>{{json | json}}</pre>
              <p> <hr> </p>
              <p class="text-center">
                <button class="btn btn-primary" ng-click="webify()">
                  Export to web
                </button>
                <button class="btn btn-success" ng-click="submit(json)">
                  Store this JSON in the silo
                </button>
              </p>
              <p> &nbsp; </p>
            </div>
          </div>
        </tab>
        <tab heading="Product">
          <div ng-controller="ProductCtrl" class="row">
            <div class="col-xs-12 col-md-6">
              <h1>Enter the fields below...</h1>
              <form role="form" class="form-horizontal">
                <div class="form-group">
                  <label class="col-sm-3 control-label"
                         for="productPreset"> Presets: </label>
                  <div class="col-sm-9">
                    <select ng-model="preset" class="form-control"
                            ng-options="key as key for (key, value) in devices"
                            ng-change='selectPreset()' id="productPreset">
                      <option value=""> -- Select a preset device, or enter the fields below -- </option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label"
                         for="productName"> Name: </label>
                  <div class="col-sm-9">
                    <input type="text" placeholder="Bluetooth Smart Reelceiver"
                           class="form-control" ng-model="product.name"
                           ng-change='change()'
                           tooltip="Ex:Bluetooth Smart Reelceiver"
                           tooltip-placement="right" id="productName"/>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label"
                         for="productManufacturer"> Manufacturer: </label>
                  <div class="col-sm-9">
                    <input type="text" placeholder="reelyActive"
                           class="form-control" ng-model="product.manufacturer.name"
                           ng-change='change()' tooltip="Ex:reelyActive"
                           tooltip-placement="right" id="productManufacturer"/>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label"
                         for="productModel"> Model: </label>
                  <div class="col-sm-9">
                    <input type="text" placeholder="RA-R436"
                           class="form-control" ng-model="product.model"
                           ng-change='change()' tooltip="Ex:RA-R436"
                           tooltip-placement="right" id="productModel"/>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label"
                         for="productUrl"> Product URL: </label>
                  <div class="col-sm-9">
                    <input type="url" placeholder="http://shop.reelyactive.com/products/ra-r436"
                           class="form-control" ng-model="product.url"
                           ng-change='change()' id="productUrl"/>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label"
                         for="productLogoUrl"> Logo URL: </label>
                  <div class="col-sm-9">
                    <input type="url" placeholder="http://reelyactive.com/images/reelyActiveLogo.png"
                           class="form-control" ng-model="product.logo"
                           ng-change='change()' id="productLogoUrl"/>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label"
                         for="productSocialUrls"> Social media URLs: </label>
                  <div class="col-sm-9">
                    <div ng-repeat="(key, value) in product.sameAs track by $index">
                      <input type="url" class="form-control"
                             placeholder="http://twitter.com/reelyActive"
                             ng-model="product.sameAs[key]" ng-change='change()'
                             id="productSocialUrls"/>
                    </div>
                    <p class="text-center">
                      <button type="button" class="btn btn-default"
                              ng-click="addSocial()"> Add another URL </button>
                    </p>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label"
                         for="productImageUrl"> Image URL: </label>
                  <div class="col-sm-9">
                    <carousel>
                      <slide ng-repeat="product in slides" active="product.active">
                        <img ng-src="{{product.image}}">
                      </slide>
                    </carousel>
                    <input type="url" placeholder="Paste the image URL here,or..."
                           class="form-control" ng-model="product.image"
                           ng-change='change()'/>
                    <p class="text-center">
                      <button type="button" class="btn btn-primary" 
                              ng-click="getActiveSlide();change()">
                        Use image above
                      </button>
                    </p>
                  </div>
                </div>
              </form>
              <p> &nbsp; </p>
            </div>
            <div class="col-xs-12 col-md-6">
              <h1>...and the product's JSON shall appear</h1>
              <pre>{{json | json}}</pre>
              <p> <hr> </p>
              <p class="text-center">
                <button class="btn btn-primary" ng-click="webify()">
                  Export to web
                </button>
                <button class="btn btn-success" ng-click="submit(json)">
                  Store this JSON in the silo
                </button>
              </p>
              <p> &nbsp; </p>
            </div>
          </div>
        </tab>
        <tab heading="Place">
          <div ng-controller="PlaceCtrl" class="row">
            <div class="col-xs-12 col-md-6">
              <h1>Enter the fields below...</h1>
              <form role="form" class="form-horizontal">
                <div class="form-group">
                  <label class="col-sm-3 control-label"
                         for="placeName"> Name: </label>
                  <div class="col-sm-9">
                    <input type="text" placeholder="Notman House"
                           class="form-control" ng-model="place.name"
                           ng-change='change()' tooltip="Ex:Notman House"
                           tooltip-placement="right" id="placeName"/>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label"
                         for="placeStreetAddress"> Street address: </label>
                  <div class="col-sm-9">
                    <input type="text" placeholder="51 rue Sherbrooke Ouest"
                           class="form-control" ng-model="place.address.streetAddress"
                           ng-change='change()' tooltip="Ex:51 rue Sherbrooke Ouest"
                           tooltip-placement="right" id="placeStreetAddress"/>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label"
                         for="placeLocality"> Locality (City): </label>
                  <div class="col-sm-9">
                    <input type="text" placeholder="Montr&eacute;al"
                           class="form-control" ng-model="place.address.addressLocality"
                           ng-change='change()' tooltip="Ex:Montreal"
                           tooltip-placement="right" id="placeLocality"/>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label"
                         for="placeRegion"> Region (State/Province): </label>
                  <div class="col-sm-9">
                    <input type="text" placeholder="Qu&eacute;bec"
                           class="form-control" ng-model="place.address.addressRegion"
                           ng-change='change()' tooltip="Ex:Quebec"
                           tooltip-placement="right" id="placeRegion"/>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label"
                         for="placePostalCode"> Postal code: </label>
                  <div class="col-sm-9">
                    <input type="text" placeholder="H2X 1X2" class="form-control"
                           ng-model="place.address.postalCode" ng-change='change()'
                           tooltip="Ex:H2X 1X2" tooltip-placement="right"
                           id="placePostalCode"/>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label"
                         for="placeCountry"> Country: </label>
                  <div class="col-sm-9">
                    <select ng-model="place.address.addressCountry" class="form-control"
                            ng-options="country.code as country.nationality for country in countries"
                            ng-change='change()' id="placeCountry">
                      <option value=""> -- Select a Country -- </option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label"
                         for="placeUrl"> Place URL: </label>
                  <div class="col-sm-9">
                    <input type="url" placeholder="http://notman.org"
                           class="form-control" ng-model="place.url"
                           ng-change='change()' id="placeUrl"/>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label"
                         for="placeLogoUrl"> Logo URL: </label>
                  <div class="col-sm-9">
                    <input type="url" class="form-control" 
                           placeholder="http://reelyactive.com/images/notman-logo.png"
                           ng-model="place.logo" ng-change='change()'
                           id="placeLogoUrl"/>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label"
                         for="placeSocialUrls"> Social media URLs: </label>
                  <div class="col-sm-9">
                    <div ng-repeat="(key, value) in place.sameAs track by $index">
                      <input type="url" class="form-control"
                             placeholder="http://twitter.com/notman"
                             ng-model="place.sameAs[key]" ng-change='change()'
                             id="placeSocialUrls"/>
                    </div>
                    <p class="text-center">
                      <button type="button" class="btn btn-default"
                              ng-click="addSocial()"> Add another URL </button>
                    </p>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label"
                         for="placeImageUrl"> Image URL: </label>
                  <div class="col-sm-9">
                    <carousel>
                      <slide ng-repeat="place in slides" active="place.active">
                        <img ng-src="{{place.image}}">
                      </slide>
                    </carousel>
                    <input type="url" placeholder="Paste the URL here,or..."
                           class="form-control" ng-model="place.image"
                           ng-change='change()'/>
                    <p class="text-center">
                      <button type="button" class="btn btn-primary"
                              ng-click="getActiveSlide();change()">
                        Use image above
                      </button>
                    </p>
                  </div>
                </div>
              </form>
              <p> &nbsp; </p>
            </div>
            <div class="col-xs-12 col-md-6">
              <h1>...and the place's JSON shall appear</h1>
              <pre>{{json | json}}</pre>
              <p> <hr> </p>
              <p class="text-center">
                <button class="btn btn-primary" ng-click="webify()">
                  Export to web
                </button>
                <button class="btn btn-success" ng-click="submit(json)">
                  Store this JSON in the silo
                </button>
              </p>
              <p> &nbsp; </p>
            </div>
          </div>
        </tab>
        <tab heading="Combined">
          <div ng-controller="CombinedCtrl" class="row">
            <div class="col-xs-12 col-md-6">
              <h1>Enter the fields in the other tabs...</h1>
            </div>
            <div class="col-xs-12 col-md-6">
              <h1>...and the combined JSON shall appear</h1>
              <pre>{{json | json}}</pre>
              <p> <hr> </p>
              <p class="text-center">
                <button class="btn btn-primary" ng-click="webify()">
                  Export to web
                </button>
                <button class="btn btn-success" ng-click="submit(json)">
                  Store this JSON in the silo
                </button>
              </p>
              <p> &nbsp; </p>
            </div>
          </div>
        </tab>
      </tabset>
      <footer class="footer">
        <a href="https://github.com/reelyactive/json-silo"> json-silo </a>
        &nbsp; | &nbsp;
        <a href="http://context.reelyactive.com"
           tooltip="We believe in an open Internet of Things"
           tooltip-placement="right">
          &copy; reelyActive 2014-2015
        </a>
      </footer>
    </div>

    <!----- Start Modal ----->
    <script type="text/ng-template" id="result.html">
      <div class="modal-header">
        <h3 class="modal-title">
          {{title}}
        </h3>
      </div>
      <div class="modal-body">
        <div ng-show="err">
          <p> <b>Error:</b> <i>{{err}}</i> </p>
        </div>
        <div ng-show="url">
          <p> The story is publicly accessible at
              <a ng-href="{{url}}" target="_blank"> {{url}} </a>
              until it self-destructs.
          </p>
          <p class="text-center" ng-show="visit.show">
            <a ng-href="{{visit.url}}" class="btn btn-success"
               target="_blank"> Visit the check-in location </a>
          </p>
          <p class="text-center" ng-show="associate.show">
            <a ng-href="{{associate.url}}" class="btn btn-success"
               target="_blank"> Associate a wireless device </a>
          </p>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="dismiss()">
          Dismiss
        </button>
      </div>
    </script>
    <!----- End Modal ----->

    <!----- Start Modal ----->
    <script type="text/ng-template" id="export.html">
      <div class="modal-header">
        <h3 class="modal-title">
          Structured data for the web
        </h3>
      </div>
      <div class="modal-body">
        <p> Copy the following markup into either the head or body of its corresponding webpage: </p>
        <pre>{{markup}}</pre>
        <p> Validate the webpage and/or the raw markup via <a href="https://developers.google.com/structured-data/testing-tool/" target="_blank">Google's Structured Data Testing Tool</a>. </p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" type="button"
                ng-click="dismiss()"> Dismiss </button>
      </div>
    </script>
    <!----- End Modal ----->

  </body>
</html>
